<!--
<nav>
	<a href="http://localhost:4200/chart">Home</a>
	<a href="http://localhost:4200/listStage">Stage</a>
	<a href="http://localhost:4200/listGrade">Grade</a>
	<a href="http://localhost:4200/listClass">Class</a>
	<a href="http://localhost:4200/subject">Subject</a>
	<a href="http://localhost:4200/listTeacher">Teacher</a>
	<a href="http://localhost:4200/listStudent">Student</a>
	<a href="http://localhost:4200/notification">notification</a>






	<div class="animation start-home"></div>
</nav> -->


<nav *ngIf="!isLoginPage()">
	<a href="http://localhost:4200/chart">Home</a>
	<a href="http://localhost:4200/listStage">Stage</a>
	<a href="http://localhost:4200/listGrade">Grade</a>
	<a href="http://localhost:4200/listClass">Class</a>
	<a href="http://localhost:4200/subject">Subject</a>
	<a href="http://localhost:4200/listTeacher">Teacher</a>
	<a href="http://localhost:4200/listStudent">Student</a>
	<a href="http://localhost:4200/chat">Chat</a>
	<!-- <a href="http://localhost:4200/payment">Payment</a> -->
	<a href="http://localhost:4200/logout">Logout</a>








	<div class="animation start-home"></div>
</nav>
